* {
  margin: 0
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

#insta {
  color: lightgrey;
  font-size: 40px;
  position: absolute;
  left: 100px;
}

#face {
  color: lightgrey;
  font-size: 40px;
  position: absolute;
  left: 50%;
}

#git {
  color: lightgrey;
  font-size: 40px;
  position: absolute;
  right: 100px;
}

.clearfix::after {
  content:'';
  display: table;
  clear: both;
}

.titolo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.titolo h2 {
  color: white;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 75%
}

.speciale {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
}

aside .contenitore {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

main .contenitore {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2016/11/29/01/54/wood-1866667_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: 350px;
  background-image: url('https://cdn.pixabay.com/photo/2017/03/27/15/14/forest-2179318_960_720.jpg');
  background-size: cover;
  border: 5px solid white;
  margin: 0 auto;
  width: 75%;
  position: relative;
}

i{
  color: white;
}

span {
  border: 3px solid white;
}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 0;
}

h3 {
  color: dimgray;
}

aside {
  width: 25%;
  float: left;
  padding: 10px;
}

main {
  width: 50%;
  float: left;
  padding: 10px;
}

nav {
  height: 50px;
  background-color: grey;
  text-align: center;
  margin: 0 auto;
  width: 75%
}

ul li {
  display: inline-block;
  line-height: 50px;
  padding: 0 10px;
}

ul {
  margin-top: 0px;
}

nav{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}

footer {
  height: 100px;
  background-color: white;
  margin: 0 auto;
  width: 75%;
  border-radius: 5px;
  color: grey;
  font-style: italic;
  text-align: center;
  position: relative;
}

a {
  color:white;
  text-decoration: none;
}

a:active {
  color:white;
  text-decoration: none;
}

a:visited {
  color:white;
  text-decoration: none;
}

.loghi i {
  color: lightgrey;
  font-size: 40px;
}
